html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    align-items: center;
    max-width: 1350px;
    padding: 0 10px;
    margin: 0 auto;
}

.container__second {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1327px;
    padding: 0 10px;
    margin: 0 auto;
}

.container__second div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

body {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.header {
    background: transparent;
}

.header__container {
    max-width: 1450px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0 15px;
}

.menu__list-link {
    font-family: "IBM Plex Mono", monospace;
    color: #ffffff;
    font-size: 13px;
    line-height: 14px;
    padding-bottom: 5px;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
    border-bottom: 1px solid #fefefe;
}

.logo__link::selection {
    background: #8a39c4;
}

.menu__list-link::selection {
    background: #8a39c4;
}

.buy__btn::selection {
    background: #8a39c4;
}

.buy__btn {
    background-color: #9400ff;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 10px;
}

.menu__btn {
    display: none;
}

.first {
    background-image: url(../images/bg.png);
    padding-bottom: 136px;
}

.first__text {
    padding-top: 140px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.first__title {
    padding-top: 14px;
    width: 578px;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 58px;
}

.first__btn {
    background-color: #9400ff;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-family: IBM Plex Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 42px 15px;
}

.first__info {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.first__block {
    flex-direction: column;
}

.first__subtext {
    color: rgba(255, 255, 255, 0.65);
    padding-top: 20px;
    padding-right: 85px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.second {
    background-color: #000;
}

.render {
    background-color: #000;
}

.request {
    background-color: #000;
    padding-bottom: 223px;
}

.request__a {
    padding-top: 194px;
}

.request__caption {
    padding-top: 280px;
    padding-bottom: 35px;
    font-family: "Manrope", sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}

.second__phone {
    padding-top: 100px;
    width: 50%;
}

.second__text {
    padding-left: 30px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.request__text {
    width: 500px;
    padding-bottom: 41px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.second__text:last-of-type {
    margin-bottom: 55px;
}

.second__title {
    padding-top: 348px;
    width: 578px;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 22px;
}

.second__btn {
    background-color: #9400ff;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-family: IBM Plex Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 42px 15px;
    margin-bottom: 550px;
}

.render__img {
    width: 100%;
    height: 100%;
}

.render__caption {
    padding-top: 140px;
    font-family: "Manrope", sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 31px;
}

table {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 13%;
    margin-right: 10%;
    border-spacing: 0;
}

th {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    background: #000;
    color: #999;
    text-shadow: 0 1px 1px #2d2020;
    padding: 64px 52px 20px 52px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    /* padding: 10px 20px; */
    background: #000;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

.grab {
    text-align: center;
    background-image: url(../images/grab.png);
    background-size: 100%;
    padding-bottom: 125px;
}

.grab__title {
    padding-top: 106px;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
}

.grab__text {
    padding-top: 32px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 57px;
}

.grab__btn {
    background-color: #9400ff;
    border-radius: 50px;
    color: white;
    font-family: IBM Plex Mono;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    padding: 15px 42px 15px;
}

.footer {
    background-color: #000;
    text-align: center;
}

.footer__img {
    padding-top: 60px;
}

.footer__text {
    padding-top: 25px;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.footer__a {
    color: #9400ff;
}

.footer__subtext {
    padding-top: 32px;
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 60px;
}

@media (min-width: 1440px) {
    .first {
        background-size: 100%;
    }
}

@media (max-width: 1350px) {
    .first {
        padding-bottom: 50px;
    }
    .second__img {
        width: auto;
        height: auto;
        max-width: 400px;
    }
    .second__phone {
        padding-top: 0;
    }
    .second__title {
        padding-top: 160px;
    }
}

@media (max-width: 1140px) {
    table {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1000px) {
    .render__table {
        margin-left: 0;
    }
    .request__text {
        width: 100%;
    }
    .request__img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 860px) {
    .menu {
        order: 1;
    }
    .menu__list {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #0d0d0d;
        right: 0;
        text-align: center;
        transform: translateY(-500px);
        transition: all 0.5s;
    }
    .menu__list.menu__list--active {
        transform: translateY(0);
    }
    .menu__list-link {
        padding: 20px 0;
        display: block;
    }
    .menu__btn {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 24px;
        border: none;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
        position: relative;
    }
    .menu__btn::before {
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }
    .first {
        padding-bottom: 30px;
    }
    .first__info {
        width: 100%;
    }
    .second__img {
        width: auto;
        height: auto;
        max-width: 300px;
    }
    .second__title {
        font-size: 32px;
        padding-bottom: 5px;
    }
    .second__text {
        font-size: 12px;
        line-height: 18px;
    }
    .second__text:last-of-type {
        margin-bottom: 35px;
    }
    .container__second {
        max-width: 750px;
    }
    .grab {
        padding-bottom: 40px;
    }
    .grab__title {
        font-size: 36px;
        padding-top: 40px;
    }
    .grab__text {
        padding-top: 0;
        font-size: 15px;
        padding-bottom: 35px;
    }
}

@media (max-width: 840px) {
    table {
        display: none;
    }
}

@media (max-width: 815px) {
    .first__info {
        width: 90%;
    }
    .first__title {
        font-size: 32px;
        line-height: 46px;
    }
    .first__subtext {
        padding-right: 35px;
    }
}

@media (max-width: 650px) {
    .first {
        padding-bottom: 10px;
    }
    .first__title {
        width: 100%;
        font-size: 24px;
        line-height: 32px;
    }
    .first__info {
        width: 100%;
    }
    .second__title,
    .second__text {
        text-align: center;
        width: 100%;
    }
    .second__phone {
        width: 100%;
        padding-top: 100px;
        text-align: center;
    }
    .container__second {
        text-align: center;
        grid-template-columns: 100%;
    }
    .request__a {
        padding-top: 50px;
    }
    .request__caption {
        padding-top: 50px;
    }
    .request__text {
        padding: 0 20px 41px 20px;
    }
    .grab__text {
        padding: 0 30px;
        padding-bottom: 35px;
    }
}

@media (max-width: 525px) {
    .first__subtext {
        padding-right: 20px;
    }
}

@media (max-width: 410px) {
    .first__text {
        padding-top: 80px;
        font-size: 15px;
    }
    .first__subtext {
        font-size: 14px;
    }
}